html,
body {
  height: 100%;
  background-color: white; /* lila -> #6730b0 gorc -> #ffd81f*/
}

#header {
  background-color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
 background-color: #6730b0 !important;
}  

.nav-link {
 color: #6730b0;
 font-size: large;
}

.nav-link:hover {
  color: #ffd81f;
 }

 .nav-link.active:hover {
  color: #ffd81f;
 } 

.btn-outline-warning {
  color: #6730b0;
  font-size: large;
}

.btn-outline-warning:hover {
  color: #6730b0;
} 

.btn-warning {
  font-size: large;
  color: #6730b0;
}

.btn-warning:hover {
  color: #6730b0;
}

.nav-item {
  font-size: large;
}

.carousel-item {
  height: 95vh;
}

.boto-inici {
  position: relative;
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
  padding: 9px 25px;
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  border-color: rgba(103,48,176,var(--tw-border-opacity));
  box-shadow: 3px 3px #6730b0, 2px 2px #6730b0, 1px 1px #6730b0;
  color: rgba(103,48,176,var(--tw-text-opacity));
  background-color: white;
  transition: all 0s linear 0s;
  
}

.boto-inici:hover {
  --tw-border-opacity: 1;
  border-color: rgba(103,48,176,var(--tw-border-opacity));
  box-shadow: 1px 1px #6730b0, 1px 1px #6730b0, 0px 0px #6730b0;
  transform: translateX(5px);
}


:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

/* /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #e03a3c;
  text-decoration: none;
}

a:hover {
  color: #e76668;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.hero-section{
  align-items: flex-start;
  background-image: white;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
  border: none;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: #6730b0;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #ffd81f;
  color: black;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact h3 span {
  color: #e03a3c;
}
#footer .footer-top .footer-contact p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
#footer .footer-top h4 {
  font-size: 22px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #e03a3c;
  bottom: 0;
  left: 0;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: black;
  font-size: 16px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: black;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #6730b0;
}
#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}
#footer .social-links a {
  font-size: 24px;
  display: inline-block;
  background: #6730b0; /* 2b2b2b */
  color: #fff;
  line-height: 1;
  padding: 4px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 2px solid #ffd81f;
}
#footer .social-links a:hover {
  background: #ffd81f;
  color: black;
  text-decoration: none;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }